body {
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  text-align: left;
  flex-direction: column;
}

.form-container {
  border-color: black 10px;
}

.card-form {
  text-align: center;
  background-color: white;
  border: 0.2rem solid black;
  width: 20rem;
  height: 30rem;
  margin-left: 5rem;
  margin-top: 5rem;
}

.card-form user {
  height: 33rem;
}

.form {
  width: 100%;
  height: 30%;
  margin: auto;
  text-align: left;
}

.img {
  width: 100%;
  height: 20rem;
}

.input {
  width: 5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.select {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.button {
  margin-top: 0.5rem;
}

.user-data {
  height: 50%;
}

.user-data p {
  margin: 1rem;
}

.material-icons {
  padding: 1rem;
}